/* General styling for header */
.header {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(179.99deg, #FFFFFF 12.89%, #EAF0FF 91.39%);
}

/* Styling for navigation bar */
.nav {
    .header_bubble {
        position: absolute;
        top: 0;
        left: 0;
    }

    .logo {
        position: absolute;
        z-index: 2;
    }


}

/* Styling for header content */
.header_content {
    display: flex;
    justify-content: space-between;
    height: 100vh;

    .portfolio_img_container {
        display: flex;
        align-items: flex-end;
        padding-left: 6rem;
    }


    .portfolio_img {
        position: relative;
        width: 32rem;
    }

    .header-right-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }

    .header-headliner {
        padding-right: 6rem;
        padding-top: 8rem;
        line-height: 2.4rem;
        color: #5988FF;

        h2 {
            font-size: 3rem;
            font-family: "Montserrat", sans-serif;
            font-weight: 400;
        }

        h1 {
            font-size: 5rem;
            font-family: "baloo 2";
            font-weight: 900;
        }
    }

    .header_social_links_scroll_line {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8rem;
        position: absolute;
        bottom: 0;
        right: 5rem;

        .scroll_line {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;

            p {
                color: #5988FF;
            }
        }

        .header_social_links {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            li {
                list-style-type: none;
            }

            li a img {
                transition: all 0.2s ease-in-out;

                &:hover {
                    transform: translateX(-8px);
                    opacity: 0.7;
                }
            }

        }
    }
}


/* Media queries for header section */
@media (max-width: 1245px) {
    .header-headliner {
        padding-right: 3rem !important;
    }

    .header_bubble {
        width: 40rem;
    }

    .portfolio_img_container {
        padding-left: 4rem !important;
    }
}

@media (max-width: 1155px) {
    .header-headliner {
        padding-right: 3rem !important;

        h2 {
            font-size: 2.5rem !important;
            font-weight: 400;
        }

        h1 {
            font-size: 4.5rem !important;
            font-weight: 900;
        }
    }
}

@media (max-width: 1100px) {
    .header_bubble {
        width: 35rem;
    }

    .portfolio_img {
        width: 30rem !important;
    }

    .header-headliner {
        padding-right: 3rem !important;
    }

}


@media (max-width: 1015px) {
    .header_bubble {
        width: 30rem;
    }

    .portfolio_img {
        width: 25rem !important;
    }

    .header-headliner {
        padding-right: 3rem !important;
    }
}


@media (max-width: 935px) {

    /* Change layout */
    .header_content {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;

        .header-headliner {
            z-index: 1;
            color: #FFF;
            padding-top: 6rem !important;
        }
    }

    .header_bubble {
        width: 85vw;
    }

    .portfolio_img_container {
        padding-left: 0rem !important;
    }

    .portfolio_img {
        width: 22rem !important;
    }

    .header-headliner {
        padding-right: 0rem !important;
        padding-top: 3rem !important;
    }

    .header_social_links_scroll_line {
        display: none !important;
    }
}

@media (max-width: 765px) {

    .header_bubble {
        width: 100vw;
    }

    .header-headliner {
        padding-right: 0rem !important;
        padding-top: 3rem !important;
    }

}

@media (max-width: 690px) {

    .header_bubble {
        width: 100vw;
    }

    .portfolio_img {
        width: 22rem !important;
    }

    .header-headliner {
        padding-right: 0rem !important;
        padding-top: 3rem !important;
    }

}

@media (max-width: 650px) {

    .header_bubble {
        width: 100vw;
    }

    .portfolio_img {
        width: 22rem !important;
    }

    .header-headliner {
        padding-right: 0rem !important;
        padding-top: 3rem !important;
    }

}

@media (max-width: 600px) {

    .header_bubble {
        width: 100vw;
    }

    .portfolio_img {
        width: 22rem !important;
    }

    .header-headliner {
        padding-right: 0rem !important;
        padding-top: 3rem !important;
    }

}

@media (max-width: 450px) {

    .header_bubble {
        width: 100vw;
        min-height: 55vh;
    }

    .portfolio_img {
        width: 90vw !important;
    }

    .header-headliner {
        padding-right: 0rem !important;
        padding-top: 3rem !important;
        line-height: 2rem !important;

        h2 {
            font-size: 2rem !important;
            font-weight: 400;
        }

        h1 {
            font-size: 4rem !important;
            font-weight: 900;
        }
    }

}

@media(max-width: 360px) {
    .header_bubble {
        width: 100vw;
        min-height: 45vh;
    }

    .header-headliner {
        padding-right: 0rem !important;
        padding-top: 3rem !important;
        line-height: 1.8rem !important;

        h2 {
            font-size: 1.5rem !important;
            font-weight: 400;
        }

        h1 {
            font-size: 3rem !important;
            font-weight: 900;
        }
    }
}

/* Media queries for height beginning */

@media screen and (max-width: 2600px) {
    @media screen and (max-height: 900px) {
        .portfolio_img {
            width: 28rem !important;
        }
    }
}

@media screen and (max-width: 2600px) {
    @media screen and (max-height: 780px) {
        .portfolio_img {
            width: 24rem !important;
        }

        .scroll_line {
            display: none !important;
        }
    }
}

@media screen and (max-width: 2600px) {
    @media screen and (max-height: 700px) {
        .portfolio_img {
            width: 22rem !important;
        }
    }
}

@media screen and (max-width: 2600px) {
    @media screen and (max-height: 600px) {
        .portfolio_img {
            width: 19rem !important;
        }
    }
}

@media screen and (max-width: 2600px) {
    @media screen and (max-height: 540px) {
        .portfolio_img {
            width: 16rem !important;
        }
    }
}

@media screen and (min-width: 936px) {
    @media screen and (max-height: 820px) {
        .header_bubble {
            /* width: 50vw !important; */
            max-height: 100vh;
        }
    }
}

@media screen and (max-width: 935px) {
    @media screen and (max-height: 1380px) {
        .portfolio_img {
            width: 34rem !important;
        }
    }
}

@media screen and (max-width: 935px) {
    @media screen and (max-height: 1200px) {
        .portfolio_img {
            width: 26rem !important;
        }
    }
}

@media screen and (max-width: 935px) {
    @media screen and (max-height: 900px) {
        .portfolio_img {
            width: 23rem !important;
        }

        .header_bubble {
            max-height: 100vh;
            width: 90vw !important;
        }
    }
}

@media screen and (max-width: 935px) {
    @media screen and (max-height: 800px) {
        .portfolio_img {
            width: 20rem !important;
        }

        .header_bubble {
            max-height: 100vh;
            width: 90vw !important;
        }
    }
}

@media screen and (max-width: 935px) {
    @media screen and (max-height: 750px) {
        .portfolio_img {
            width: 16rem !important;
        }

        .header_bubble {
            max-height: 100vh;
            width: 90vw !important;
        }
    }
}


@media screen and (max-width: 935px) {
    @media screen and (max-height: 660px) {
        .portfolio_img {
            width: 14rem !important;
        }

        .header_bubble {
            max-height: 100vh;
            width: 85vw !important;
        }
    }
}

@media screen and (max-width: 935px) {
    @media screen and (max-height: 635px) {
        .portfolio_img {
            display: none;
        }

        .header_content {
            justify-content: center;
            padding-bottom: 6rem;
        }

        .header_bubble {
            max-height: 100vh;
            width: 85vw !important;
        }
    }
}

/* @media screen and (max-width: 600px) {
    @media screen and (max-height: 580px) {
        .portfolio_img {
            display: none;
        }

        .header_content {
            justify-content: center;
        }

        .header-headliner {
            line-height: 1.6rem !important;
            padding-bottom: 6rem;

            h1 {
                font-size: 3.2rem !important;
            }

            h2 {
                font-size: 2.2rem !important;
            }
        }

        .header_bubble {
            width: 90vw !important;
        }
    }
} */

@media screen and (max-width: 550px) {
    @media screen and (max-height: 930px) {
        .portfolio_img {
            width: 24rem !important;
        }

        .header_bubble {
            width: 100vw !important;
        }
    }
}

@media screen and (max-width: 550px) {
    @media screen and (max-height: 860px) {
        .portfolio_img {
            width: 22rem !important;
        }
    }
}

@media screen and (max-width: 550px) {
    @media screen and (max-height: 800px) {
        .portfolio_img {
            width: 20rem !important;
        }
    }
}

@media screen and (max-width: 550px) {
    @media screen and (max-height: 735px) {
        .portfolio_img {
            width: 16rem !important;
        }
    }
}



/* Media queries for height end */

/* Media query for big screens */
@media(min-width: 1650px) {

    .header_bubble {
        width: 50vw !important;
        max-height: 100vh;
    }

    .header-headliner {
        padding-right: 8rem !important;

        h2 {
            font-size: 3.5rem !important;
            font-weight: 400;
        }

        h1 {
            font-size: 5.5rem !important;
            font-weight: 900;
        }
    }


}

@media(min-width: 1750px) {

    .header_bubble {
        width: 45vw !important;
    }

    .header-headliner {
        padding-right: 10rem !important;
    }
}

@media(min-width: 1850px) {

    .header_bubble {
        width: 40vw !important;
    }

    .header-headliner {
        padding-right: 14rem !important;
        padding-top: 10rem !important;
        line-height: 2.8rem !important;
    }
}

@media(min-width: 2000px) {

    .header_bubble {
        width: 37vw !important;
    }

    .header-headliner {
        padding-right: 20rem !important;
        padding-top: 12rem !important;
        line-height: 3rem !important;

        h2 {
            font-size: 4rem !important;
            font-weight: 400;
        }

        h1 {
            font-size: 6rem !important;
            font-weight: 900;
        }
    }
}

@media(min-width: 2150px) {

    .header_bubble {
        width: 35vw !important;
    }

    .header-headliner {
        padding-right: 26rem !important;
        padding-top: 12rem !important;
        line-height: 3rem !important;
    }
}

@media(min-width: 2250px) {

    .header_bubble {
        width: 33vw !important;
    }

    .header-headliner {
        padding-right: 28rem !important;
        padding-top: 12rem !important;
        line-height: 3.5rem !important;

        h2 {
            font-size: 4.5rem !important;
            font-weight: 400;
        }

        h1 {
            font-size: 6.5rem !important;
            font-weight: 900;
        }
    }
}

@media(min-width: 2350px) {

    .header_bubble {
        width: 30vw !important;
        max-height: 100vh;
    }

    .header-headliner {
        padding-right: 36rem !important;
        padding-top: 12rem !important;
        line-height: 3.7rem !important;
    }
}