<header class="header" id="header_container">
    <!-- Navigation bar -->
    <nav class="nav">
        <img class="header_bubble" src="../../assets/img/bubbles/Ellipse 3.png">
    </nav>
    <!-- header content -->
    <div class="header_content">
        <!-- Header left side -->
        <div class="portfolio_img_container">
            <img class="portfolio_img" src="../../assets/img/photo.png">
        </div>
        <!-- Header right side -->
        <div class="header-right-container">
            <div class="header-headliner" data-aos="fade-left" data-aos-duration="1000" data-aos-mirror="true">
                <h2>Hello! I am Jasmin</h2> <br>
                <h1>FRONTEND</h1> <br>
                <h1>DEVELOPER</h1>
            </div>
            <div class="header_social_links_scroll_line">
                <div class="scroll_line">
                    <p>SCROLL</p>
                    <img src="../../assets/img/straight_line.png">
                </div>
                <ul class="header_social_links">
                    <li><a target="_blank" href="https://github.com/jasmindedic"><img src="../../assets/img/social_icons/github_icon.png"></a></li>
                    <li><a href="mailto:jdedic1999@gmail.com"><img src="../../assets/img/social_icons/mail_icon.png"></a></li>
                    <li><a target="_blank" href="https://www.linkedin.com/in/jasmin-dedic"><img src="../../assets/img/social_icons/linkedIn_icon.png"></a></li>
                </ul>
            </div>
        </div>
    </div>
</header>


<app-about-me></app-about-me>
<app-skills></app-skills>
<app-my-work></app-my-work>
<app-contact></app-contact>
