<div class="footer_container">
    <div class="footer_logo">
        <img src="../../assets/img/icons_desktop/logo.png">
    </div>
    <div class="footer_info">
        <p class="copyright">&copy; Jasmin Dedic 2022</p>
        <a routerLink="/imprint" (click)="scrollTop()"> Impressum</a>
        <a routerLink="/data-protection" (click)="scrollTop()"> Data-Protection</a>
    </div>
    <ul class="footer_social_links">
        <li><a target="_blank" href="https://github.com/jasmindedic"><img src="../../assets/img/social_icons_footer/github_icon.png"></a></li>
        <li><a href="mailto:jdedic1999@gmail.com"><img src="../../assets/img/social_icons_footer/mail_icon.png"></a></li>
        <li><a target="_blank" href="https://www.linkedin.com/in/jasmin-dedic"><img src="../../assets/img/social_icons_footer/linkedIn_icon.png"></a></li>
    </ul>
</div>
