<div class="work_third_container">  
    <div class="pic_text_container" data-aos="flip-left" data-aos-duration="1000" data-aos-mirror="true">
        <div class="work_third_pic">
            <!-- Image (Screenshot)-->
            <img class="my_work_img" src="../../assets/img/my_work/pokedex.png">
            <!-- Bubble -->
            <img class="work_3_bubble" src="../../assets/img/bubbles/work_3_bubble.png">
        </div>
        <div class="work_third_text">
            <h3>Pokedex</h3>
            <p class="tech_stack">JavaScript | HTML | CSS | Api</p>
            <p class="work_third_desc">
                Based on the PokeAPI a simple library that provides and <br>
                catalogues pokemon information.
            </p>
            <div class="github_btn_container">
                <button class="live_btn"><a target="_blank" href="https://jasmindedic.github.io/Pokedex/">Live test</a></button>
                <button class="github_btn"><a target="_blank" href="https://github.com/jasmindedic/Pokedex">Github</a></button>
            </div>
        </div>
    </div>
    </div>
