<div class="about_me_container" id="about_me_container">
    <!-- Bubbles to position -->
    <img class="about_me_big_bubble" src="..//../assets/img/bubbles/Ellipse 5.png">
    <img class="about_me_small_bubble" src="..//../assets/img/bubbles/Ellipse 6.png">

    <div class="about_me_left">
        <h2>Let's work <br> together</h2>
    </div>
    <div class="about_me_right">
        <div class="about_me_text">
            <p>  
                I am a Frontend developer based in Munich, <br>
                Germany. I enjoy helping designers and <br>
                companies bring their ideas into real life. I am <br>
                looking forward to continuing my developer <br>
                carrer with a job in a junior web developer <br>
                position. 
            </p>
            <p class="about_me_sentence">  
                If you think I'd be a good match for your projects, <br>
                contact me!
            </p>
        </div>
        <button class="about_me_btn">Send a message</button>
    </div>
</div>
