<div class="contact_wrapper" id="contact_container" data-aos="zoom-in-down" data-aos-duration="1000" data-aos-mirror="true">  
    <!-- Contact headliner -->
    <div class="contact_headliner">
        <h2>Contact</h2>
    </div>
<div class="contact_container">
    <!-- Bubble -->
    <img  class="contact_big_bubble" src="../../assets/img/bubbles/contact_big_bubble.png">
    <div class="contact_left">
        <div class="contact_text">
            <h3>Got a problem to solve</h3>
            <p class="contact_desc">Get in touch via the form, or by emailing me. <br>
                I would love to contribute to your projects <br>
                with my work.
            </p>
            <p class="need_contact">
                 <span class="contact_need">Need a Frontend developer?</span> 
                <span class="contact_me">Contact me!</span>
            </p>
        </div>
        <!-- Up button -->
        <a class="arrow" href="#header_container"><img src="../../assets/img/arrow_up/arrwow_up_v1.png"></a>
    </div>
    <div class="contact_right">
         <!-- Bubble -->
    <img  class="contact_small_bubble" src="../../assets/img/bubbles/contact_small_bubble.png">
        <form  action="https://formsubmit.co/82df021bd5266c7e903b5f763f4c68c5 " method="POST" method="POST">
            <input required type="text" id="name" name="name" placeholder="Your name"><br>
            <input required type="email" id="email" name="email" placeholder="Your email"><br>
            <textarea required id="message" name="message" placeholder="Your message"></textarea><br>
            <button class="hello_btn" type="submit">Say hello ;)</button>
        </form>
    </div>
</div>
</div>