<div class="work_two_container">  
    <div class="pic_text_container" data-aos="flip-right" data-aos-duration="1000" data-aos-mirror="true">
         <!-- Bubble -->
    <img class="sharkie_small_bubble" src="../../assets/img/bubbles/sharkie_bubble_small.png">

        <div class="work_two_pic">
            <!-- Image (Screenshot)-->
            <img class="my_work_img" src="../../assets/img/my_work/sharkie.png">
        </div>
        <div class="work_two_text">
            <h3>Sharkie</h3>
            <p class="tech_stack">JavaScript | HTML | CSS</p>
            <p class="work_two_desc">Jump, run and throw game based on object-oriented approach. <br> Help Sharkie the brave shark to find coins to fight against the <br> crazy white shark
            </p> 
            <div class="github_btn_container">
                <button class="live_btn"><a href="#">Live test</a></button>
                <button class="github_btn"><a target="_blank" href="https://github.com/jasmindedic/Sharkie_Game">Github</a></button>
            </div>
        </div>
    </div>
    </div>
