<div class="skills_wrapper">
    <!-- Container -->
    <div class="skills_container">  
    <div class="skills_headliner">
        <h2>Skills set</h2>
    </div>
    <div class="skills_icons">
        <div class="skill"> 
            <img src="..//../assets/img/icons_desktop/angular_desktop.png">
            <p>Angular</p>
        </div>
        <div class="skill"> 
            <img src="..//../assets/img/icons_desktop/typescript_desktop.png">
            <p>TypeScript</p>
        </div>
        <div class="skill"> 
            <img src="..//../assets/img/icons_desktop/javascript_desktop.png">
            <p>JavaScript</p>
        </div>
        <div class="skill"> 
            <img src="..//../assets/img/icons_desktop/html_desktop.png">
            <p>HTML</p>
        </div>
        <div class="skill"> 
            <img src="..//../assets/img/icons_desktop/scrum_desktop.png">
            <p>Scrum</p>
        </div>
        <div class="skill"> 
            <img src="..//../assets/img/icons_desktop/firebase_desktop.png">
            <p>Firebase</p>
        </div>
        <div class="skill"> 
            <img src="..//../assets/img/icons_desktop/git_desktop.png">
            <p>GIT</p>
        </div>
        <div class="skill"> 
            <img src="..//../assets/img/icons_desktop/css_desktop.png">
            <p>CSS</p>
        </div>
        <div class="skill"> 
            <img src="..//../assets/img/icons_desktop/api_desktop.png">
            <p>Rest-Api</p>
        </div>
        <div class="skill"> 
            <img src="..//../assets/img/icons_desktop/material_design_desktop.png">
            <p style="text-align: center;">Material <br> Design</p>
        </div>
    </div>
</div>
 <!-- Container -->
</div>
