.skills_wrapper {
    background: linear-gradient(128.94deg, #5988FF -33.96%, #5988FF 36.71%, #0043F0 112.25%);
}

.skills_container {
    padding-top: 4rem;
    padding-bottom: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    .skills_headliner {
        h2 {
            color: #fff;
            font-family: "baloo 2", sans-serif;
            font-size: 4.5rem;
            font-weight: 700;
        }
    }

    .skills_icons {
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        grid-gap: 6rem;

        .skill {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.6rem;
            cursor: default;

            p {
                font-family: "Montserrat", sans-serif;
                color: #fff;
            }

            img {
                transition: all 0.2s ease;
            }

            p {
                transition: all 0.2s ease-in-out;
            }

            &:hover {
                img {
                    transform: translateY(-12px);

                }

                p {
                    transform: translateY(-12px);
                    opacity: 0.8;
                }
            }
        }
    }
}

@media (max-width: 860px) {
    .skills_icons {
        grid-template-columns: auto auto auto auto !important;
    }
}


@media (max-width: 675px) {
    .skills_icons {
        grid-template-columns: auto auto auto !important;
        grid-gap: 5rem !important;
    }
}

@media (max-width: 560px) {
    .skills_icons {
        grid-gap: 4rem !important;
    }
}

@media (max-width: 450px) {
    .skills_icons {
        grid-gap: 3rem !important;
    }
}

@media (max-width: 380px) {
    .skills_icons {
        align-items: flex-end;
        grid-gap: 2.5rem !important;

        img {
            width: 4rem;
        }
    }
}

@media (max-width: 350px) {
    .skills_icons {
        align-items: flex-end;
        grid-gap: 2rem !important;

        img {
            width: 3rem;
        }
    }
}