<div class="container">
    <div class="content"  data-aos="fade-left" data-aos-duration="1500" data-aos-mirror="true">
        <h1>Impressum</h1>
        <h3>Angaben gemäß § 5 TMG:</h3>
        <p>Jasmin Dedic</p>
        <h4>Postanschrift:</h4>
        <p>Kirchenstraße 95<br>81675 München<br></p>
        <h4>Kontakt:</h4>
        <p>Telefon: +49 015720138831 <br>E-Mail: <a
                href="mailto: : jasmin.dedic.dev@gmail.com"> jasmin.dedic.dev@gmail.com</a>
        </p>
        <p><em>Das Impressum wurde mithilfe der <a href="https://www.activemind.de" target="_blank">activeMind AG</a>
                erstellt.</em></p>
    </div>
</div>