.work_one_container {
    display: flex;
    flex-direction: column;
    padding-bottom: 10rem;

    .my_work_headliner {
        position: relative;

        h2 {
            font-family: "baloo 2", sans-serif;
            font-size: 4.5rem;
            font-weight: 700;
            color: #5988FF;
        }

        p {
            font-family: "Montserrat", sans-serif;
            padding-bottom: 4rem;
            font-size: 1.2rem;
        }

        img {
            position: absolute;
            left: 20rem;
            top: -3rem;
        }

    }


    .pic_text_container {
        display: flex;
        gap: 4rem;
        align-items: center;
        position: relative;

        /* Positioning for bubble */
        .join_small_bubble {
            position: absolute;
            right: 50px;
            top: -150px;
        }

        .my_work_img {
            box-shadow: 5px 5px 9px -4px gray;
            width: 36rem;
            height: 22rem;
            transition: all 0.2s ease-in-out;
            /* width: 30rem;
            height: 20rem; */

            &:hover {
                transform: translateY(-20px);
            }
        }

        .work_one_text {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 1rem;

            h3 {
                font-family: "baloo 2", sans-serif;
                font-size: 2.5rem;
                color: #5988FF;
            }

            .tech_stack {
                font-family: "Montserrat", sans-serif;
                font-size: 1.5rem;
                color: #5988FF;
            }

            .work_one_desc {
                font-family: "Montserrat", sans-serif;
                font-size: 1rem;
                color: black;
            }

            .github_btn_container {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 5rem;
                padding-top: 1rem;

                /* Github button */
                .github_btn {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 9rem;
                    height: 3.2rem;
                    position: relative;
                    z-index: 2;
                    background-color: var(--background-color);
                    font-size: 1.1rem;
                    cursor: pointer;
                    padding: 0.8rem 2.2rem;
                    color: #5988FF;
                    border-radius: 0.4rem;
                    border-color: #5988FF;
                    border-width: 2px;
                    --background-color: #fff;

                    a {
                        text-decoration: none;
                        color: #5988FF;
                        border-radius: 0.4rem;
                        padding-left: 2.8rem;
                        padding-right: 2.8rem;
                        padding-top: 0.85rem;
                        padding-bottom: 0.85rem;
                    }

                    &:hover {
                        a {
                            color: #fff;
                        }
                    }
                }


                .github_btn::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    z-index: -1;
                    background-color: #5988FF;
                    transition: transform 300ms ease-in-out;
                    transform: scaleX(0);
                    transform-origin: left;
                }

                .github_btn:hover::before,
                .github_btn:focus::before {
                    transform: scaleX(1);
                }

                /* Live test button */
                .live_btn {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 9rem;
                    height: 3.2rem;
                    position: relative;
                    z-index: 2;
                    background-color: var(--background-color);
                    font-size: 1.1rem;
                    cursor: pointer;
                    padding: 0.8rem 2.2rem;
                    color: #fff;
                    border-radius: 0.4rem;
                    border-color: #5988FF;
                    border-width: 2px;
                    --background-color: #5988FF;

                    a {
                        text-decoration: none;
                        color: #fff;
                        border-radius: 0.4rem;
                        padding-left: 2.8rem;
                        padding-right: 2.8rem;
                        padding-top: 0.85rem;
                        padding-bottom: 0.85rem;
                        white-space: nowrap;
                    }

                    &:hover {
                        a {
                            color: #5988FF;
                        }
                    }
                }


                .live_btn::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    z-index: -1;
                    background-color: #fff;
                    transition: transform 300ms ease-in-out;
                    transform: scaleX(0);
                    transform-origin: right;
                }

                .live_btn:hover::before,
                .live_btn:focus::before {
                    transform: scaleX(1);
                }
            }
        }
    }


}

/* Media queries */
@media(max-width: 1230px) {
    .work_one_container {
        padding-bottom: 6rem;
    }

    .my_work_headliner {
        img {
            left: 30rem !important;
            top: -3rem;
        }
    }

    .pic_text_container {
        flex-direction: column;
        gap: 4rem;
        align-items: center;

        .join_small_bubble {
            right: -200px !important;
            top: -150px;
        }

        .work_one_text {
            align-items: center !important;
            text-align: center;

            .work_one_desc {
                text-align: center !important;
            }
        }
    }

    /* portfolio buttons */
    .github_btn_container {
        gap: 2rem !important;
        padding-top: 1rem;

    }
}

@media(max-width: 1015px) {
    .pic_text_container {
        flex-direction: column;
        gap: 4rem;
        align-items: center;

        .join_small_bubble {
            right: 120px !important;
            top: -300px !important;
            width: 2rem;
        }
    }
}



@media(max-width: 630px) {
    .my_work_headliner {
        text-align: center;

        h2 {
            font-size: 4.5rem;
            font-weight: 700;
            color: #5988FF;
        }

        p {
            font-family: "Montserrat", sans-serif;
            padding-bottom: 4rem;
            font-size: 1.2rem;
        }

        img {
            left: 22rem !important;
            top: -3rem;
            width: 4rem;
        }

    }

    .pic_text_container {
        flex-direction: column;
        gap: 4rem;
        align-items: center;

        .join_small_bubble {
            right: 150px !important;
            top: -300px !important;
            width: 2rem;
        }

        .my_work_img {
            width: 26rem !important;
            height: 16rem !important;
        }
    }


}

@media(max-width: 450px) {
    .my_work_headliner {
        text-align: center;

        h2 {
            font-size: 4.5rem;
            font-weight: 700;
            color: #5988FF;
        }

        p {
            font-family: "Montserrat", sans-serif;
            padding-bottom: 4rem;
            font-size: 1.2rem;
        }

        img {
            left: 10rem !important;
            top: -3rem;
            width: 3rem;
        }

    }

    .pic_text_container {
        gap: 4rem;

        .join_small_bubble {
            right: 150px !important;
            top: -300px !important;
            width: 2rem;
        }

        .my_work_img {
            width: 22rem !important;
            height: 14rem !important;
        }

        .work_one_text {
            padding-right: 1rem;
            padding-left: 1rem;
        }
    }
}

@media(max-width: 385px) {
    .pic_text_container {
        gap: 4rem;

        .join_small_bubble {
            right: 150px !important;
            top: -300px !important;
            width: 2rem;
        }

        .my_work_img {
            width: 20rem !important;
            height: 14rem !important;
        }
    }
}