<div class="work_one_container">  
<div class="my_work_headliner">
    <!-- Bubble -->
    <img src="../../assets/img/bubbles/bubble_my_work_hl.png">
    <h2>My work</h2>
    <p>This page is a sample of my work - please feel free to try <br> 
        them out.
    </p>
</div>

<div class="pic_text_container" data-aos="flip-left" data-aos-duration="1000" data-aos-mirror="true">
    <!-- Bubble -->
    <img class="join_small_bubble" src="../../assets/img/bubbles/bubble_join_small.png">

    <div class="work_one_pic">
        <!-- Image (Screenshot)-->
        <img class="my_work_img" src="../../assets/img/my_work/join.png">
    </div>
    <div class="work_one_text">
        <h3>Join</h3>
        <p class="tech_stack">Angular | TypeScript | HTML | CSS | Firebase</p>
        <p class="work_one_desc">Task manager inspired by the kanban System. Create and <br>
            organize tasks using drag and drop functions, assign users and <br>
            categories.
        </p>
        <div class="github_btn_container">
            <button class="live_btn"><a href="#">Live test</a></button>
            <button class="github_btn"><a target="_blank" href="https://github.com/jasmindedic/Management_Tool">Github</a></button>
        </div>
    </div>
</div>

</div>