<div class="work_fourth_container">  
    <div class="pic_text_container">
        <div class="work_fourth_pic">
            <!-- Image (Screenshot)-->
            <img class="my_work_img" src="../../assets/img/my_work/crm.png">
            <!-- Bubble -->
            <img class="work_4_bubble" src="../../assets/img/bubbles/work_4_bubble.png">
        </div>
        <div class="work_fourth_text">
            <h3>Simple Crm</h3>
            <p class="tech_stack">Angular | TypeScript | HTML | CSS | Firebase</p>
            <p class="work_fourth_desc">Task manager inspired by the kanban System. Create and <br>
                organize tasks using drag and drop functions, assign users and <br>
                categories.
            </p>
            <div class="github_btn_container">
                <button class="live_btn"><a href="#">Live test</a></button>
                <button class="github_btn"><a href="#">Github</a></button>
            </div>
        </div>
    </div>
    </div>

